.card{
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 210px;
    cursor: pointer;
    background-color: #1a1b21;
    color: white;
}
.card > img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    align-items: center;
}
.card > h1{
    padding-left: 10px;
    font-size: 18px;
}
.card > p{
    padding-left: 10px;
    font-size: 14px;
}
.card > p > span{
    color: #828282;
}


@media screen and (max-width: 480px) {
    .card {
        width: 150px;
    }
    .card > img {
        height: 200px ;
        width: 150px;
    }
}